<head>
  <style>
    body {background-image: linear-gradient(red, yellow);
      font-family: "Avant Garde";
      font-size: 500%;
      text-align: center;}
  </style>
</head>
<h1> Hello <%=@name%></h1>
<div> <%=@greeting%> </div>
